<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>沈阳凯纳软件有限公司 @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.useso.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="header">
        <div class="container">
            <a class="navbar-brand" href="~/Home/Index"><i class="fa fa-xing-square"></i> 沈阳凯纳软件有限公司</a>
            <div class="menu">
                <a class="toggleMenu" href="~/Home/Index"><img src="/images/nav_icon.png" alt="" /> </a>
                <ul class="nav" id="nav">
                    <li class="current">@Html.ActionLink("首页", "Index", "Home")</li>
                    <li>@Html.ActionLink("产品中心", "Index", "Product")</li>
                    <li>@Html.ActionLink("解决方案", "Index", "Scheme")</li>
                    <li>@Html.ActionLink("公司简介", "Index", "About")</li>
                    <li>@Html.ActionLink("联系我们", "Index", "Contact")</li>
                </ul>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="footer">
        <div class="footer_bottom">
            <div class="follow-us">
                <!--微博互动-->
                <a class="fa fa-weibo social-icon" href="#" title="微博联系我们"></a>
                <!--关注我们-->
                <a class="fa fa-wechat social-icon" href="#" title="微信关注"></a>
                <!--Q我们-->
                <a class="fa fa-qq social-icon" href="http://wpa.qq.com/msgrd?v=3&amp;uin=982249694&amp;site=qq&amp;menu=yes" target="_blank" title="QQ联系我们"> </a>
                <!--RSS订阅-->
                <a class="fa fa-rss social-icon" href="#"></a>
            </div>
            <div class="copy">
                <p>Copyright &copy; 2015&nbsp;&nbsp;kinasoft&nbsp;&nbsp;&nbsp;&nbsp;沈阳凯纳软件有限公司&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank" title="网络备案中心">辽ICP备15009206号-1</a> </p>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquerflex")
    @Scripts.Render("~/bundles/res-nav")
    @RenderSection("scripts", required: false)
</body>
</html>
